@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffce8;
}

header {
  background-color: #2b7799;
  color: white;
  padding: 20px 40px;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: #ffe697;
}

.main-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #48767b;
  margin: 14px;
  padding: 20px;
  display: flex;
  height: 500px;
  border-radius: 8px;
}

.title-comment {
  font-size: 80px;
  color: #fffce8;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
}

.info-comment {
  font-size: 30px;
  color: #fffce8;
  font-weight: bold;
}

#teston-button {
  border-radius: 8px;
  background-color: #ffe697;
  padding: 10px;
  margin: 40px 10px;
  border-color: transparent;

  font-size: 30px;
  font-weight: bold;
}

#teston-button:hover {
  background-color: #ffe690;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: #2b7799;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  font-size: 14px;
}

h1 {
  text-align: center;
  color: #000000;
}

#item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1800px;
  margin: 0 auto;
}

.item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.item h2 {
  font-size: 18px;
  margin: 16px;
  color: #222;
}

.item p {
  font-size: 14px;
  margin: 0 16px 16px;
  color: #555;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-box {
  text-align: center;
  margin-top: 20px;
  display: none;
  background-color: #ffe690;
  padding: 10px;
}

#search-input {
  width: 600px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  height: 58px;
  border: none;
  background-color: #e26559;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #e26560;
}

.movie-section {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px 0;
  margin: 0px 30px;
  scroll-snap-type: x mandatory;
}

.title {
  margin: 10px 30px;
  margin-top: 30px;
  font-size: 35px;
  padding: 10px;
  background-color: #84b9c0;
  border-radius: 8px;
  color: aliceblue;
}

.movie-section::-webkit-scrollbar {
  height: 8px;
}

.movie-section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.movie {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: start;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.movie img {
  width: 100%;
  height: auto;
  display: block;
}

.movie h2 {
  font-size: 16px;
  margin: 8px;
  margin-bottom: 4px;
}

.movie p {
  font-size: 14px;
  margin: 0 8px 8px;
  color: #555;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 20px;
}
